/*Profil CSS*/
.profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.profile-img{
    border-radius: 10px;
    text-align: center;
    float: left;
    width: 45%;
    padding: 50px;
}
.profile-img img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.profile-img .fio{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.profile-img p{
    text-align: center;
}

.profile-information{
    border-radius: 10px;
    width: 70%;
    padding: 50px;
}
.profile-information .title{
    display: flex;
    height: 80px;
}
.profile-information label, .profile-information .title{
    font-size: 20px;
}
.profile-information label{
    font-weight: bold;
    width: 30%;
    float: left;
}
.profile-information p{
    width: 70%;
    float: left;
}
.profile-information a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: green;
    padding: 10px;
    border-radius: 5px;
}
/*O'chirish va Tahrirlash tugmalar uchun CSS*/
.edit-delete{
    margin-top: 30px;
}
.edit-delete a{font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
}
.edit{
    background-color: green;
    color: white;
}
.delete{
    background-color: red;
    color: white;
}

@media (max-width: 500px) {
    .disp-block{
        text-align: center;
        display: block;
        padding-top: 200px;
    }
    section, footer{
        display: none;
    }
}